h1 {
  text-align: center;
  font-weight:normal;
  text-decoration: line-through wavy;
  letter-spacing: 10px;
  font-size: 75px;
  font-family: monospace;
}

p {
  text-align: center;
  line-height: 3;
}

a {
  text-decoration: none;
}